body {margin: 0; padding: 0;}
header {background: pink;}
h1, h2 {text-align: center;}
footer {background: black; padding: 3em 0; color: white; text-align: center;}

	
#flex-1 {

	display: flex;
	/*flex-direction: row;   toma los valores row row reverse column column reverse
	flex-wrap: wrap-reverse;  toma los valores nowrap wrap wrap-reverse*/
	flex-flow: row-reverse wrap; 

}

/*PROPIEDAD FLEX CONTAINER*/

#flex-1 div {

	width: 200px;
	height: 200px;
	border: solid 1px grey;
	text-align: center;
	font-size: 3em;
	color: green;
}

#flex-2 {
	display: flex;
	justify-content: space-around; /*flex start end center space-between space around*/

}

#flex-2 div {

	width: 200px;
	height: 200px;
	border: solid 1px green;
	text-align: center;
	font-size: 3em;
	color: green;
}

#flex-3 {
	display: flex;
	align-items: center; /*se acomoda al fondo para abajo del contenedor*/
						/*puede tomar valores de flex-start ﬂex-end  center  stretch  baseline*/
	background: navy;
	height: 500px;
}

#flex-3 div {

	width: 200px;
	height: 200px;
	border: solid 2px pink;
	text-align: center;
	font-size: 3em;
	color: pink;
}

#flex-4 div {

	width: 200px;
	text-align: center;
	font-size: 3em;
	color: white;
}


#flex-4{
	display: flex;
	align-items: baseline; /*flex start flex end center strech baseline*/
	background: green;
	height: 500px;

}

#flex-4 div.alt-1 {height: 100px; padding-top: 20px;}
#flex-4 div.alt-2 {height: 200px; padding-top: 30px;}
#flex-4 div.alt-3 {height: 250px; padding-top: 10px;}
#flex-4 div.alt-4 {height: 200px; padding-top: 50px;}

.alt-1, .alt-2, .alt-3, .alt-4 {border: solid 2px red;}

#flex-5 {
	display: flex;
	align-content: space-between;
	background: red;
	height: 700px;
	flex-flow: row wrap;
	}


#flex-5 div{
	height: 200px; 
	width: 200px;
	border: solid 2px white;
	text-align: center;
	font-size: 3em;
	color: white;
}

#fitem-1 {
	display: flex;
	flex-flow: row wrap;
	background: purple;
	height: 500px;
}

#fitem-1 div {
	flex-grow: 1;
	width: 200px;
	height: 200px;
	border: solid 2px white;
	text-align: center;
	font-size: 3em;
	color: white;
}

#fitem-1 div.w3 {
	flex-grow: 5;
	}


#fitem-2 {
	display: flex;
	flex-flow: row;
	background: lightgreen;
	height: 500px;
}

#fitem-2 div {
	flex-basis: 25%;
	height: 200px;
	border: solid 2px white;
	text-align: center;
	font-size: 3em;
	color: white;
	}

