/* NESTING */

ul {
	list-style-type:none;
	li {
	display: inline-block;
	
	a {
	color: white;
	background: orange;
	text-decoration:none;
	padding: 15px 25px;
	}

	a:hover {background: white; color:orange;}
	
	}
}